#form-mrfeeder {
    padding-top: 30px;
}
#form-mrfeeder .nav li{
    width: 33.33%;
    max-width: 300px;
}
.candidate-template-default {
    display:none;
}
.logged-in.candidate-template-default {
    display: block;
}
.outside-area-drop {
    padding: 20px;
    position: relative;
}
.area-for-drop {
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 200px;
    border: 1px solid #ccc;
}
.area-for-drop div,
#form-mrfeeder .tab-pane div{
    cursor: pointer;
    padding: 10px;
    border: 1px dashed #333;
}
.dropindrop {
    cursor: pointer;
    height: 40px;
}
.candidates {
    margin: 40px;
    box-shadow: 0 0 14px rgba(149, 149, 149, 0.2);
    background: white;
    padding: 20px 40px;
    min-height: 50vw;
}
.candidates.candidate-details h1 {
    margin-bottom: 30px;
}
.tab-content #resume {
    height: 50vw;
}
.tab-content > div {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.title-candidates {
    font-weight: 700;
    margin-bottom: 40px;
}
div#collapseExample:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
/*.candidates .tab-content>.tab-pane {
    height: 100vw;
}*/
.candidates .menu-cadidates li,
.candidates .menu-interviews li{
    border: 1px solid black;
    min-height: 150px;
    text-align: center;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.menu-interview {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.menu-interview span {
    margin-bottom: 20px;
    font-size: 25px;
}
.table-show-candidates table {
    width: 100%;
}

#acf_acf_candidate .inside > div {
    float: left;
    width: 100%
}
#acf_acf_candidate .inside {
    display: inline-block;
    width: 100%;
}
#acf_acf_candidate .inside #acf-location,
#acf_acf_candidate .inside #acf-experience,
#acf_acf_candidate .inside #acf-desired_salary {
    width: 33.333333%;
    padding-right: 30px;
}
#acf_acf_candidate .inside #acf-desired_salary {
    padding-right: 0;
}
#acf_acf_candidate.acf_postbox.no_box > .inside > .field {
    padding-top: 0;
}

#rating-comments h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
#rating-comments h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
#rating-comments h4 {
    font-size: 17px;
    text-transform: capitalize;
}
.col-lg-5th-1 {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 5px 50px 5px;
    position: relative;
    margin-bottom: 20px;
}
.col-lg-5th-1 h4 {
    text-align: center;
    position: relative;
}
.col-lg-5th-1 h4:after {
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    position: absolute;
    bottom: -.5rem;
    left: -5px;
    background-color: #ccc;
}
.content_rating_comment p {
    text-transform: capitalize;
}
.content_rating_comment p.comment-content {
    text-transform: unset;
}
.content-rating-comments {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.comment-date {
    position: absolute;
    bottom: 10px;
    left: 5px;
    margin-bottom: 0;
}
#collapseExample {
    position: fixed;
    top: 10%;
    padding-top: 20px;
    left: 10%;
    background: white;
    width: 80%;
    min-height: 80%;
}
.candidate-contents {
    padding-top: 40px;
}
.candidate-contents .nav li {
    border: solid #5e358c;
    border-width: 1px;
    margin-bottom: 10px;
}
.candidate-contents .nav a {
    color: #5e358c;
    letter-spacing: -0.2px;
    display: inline-block;
    width: 100%;
    line-height: 200%;
    padding-left: 10px;
    padding-right: 10px;
}
.candidate-contents .nav a:hover {
    color: white;
    background: #5e358c;
    text-decoration: none;
}
.social-facebook,
.social-linkendin {
    margin-left: 15px;
    font-size: 24px;
}
.title-social {
    margin-bottom: 0;
    line-height: 200%;
}
.hire-button i {
    margin-left: 4px;
}
.hire-button {
    margin-left: 10px;
    color: #5e358c;
    background: white;
    border: 1px solid #5e358c;
    box-shadow: 5px 6px 12px rgba(149, 149, 149, 0.2);
}
.hire-button:hover {
    color: white;
    text-decoration: none;
    background: #5e358c;
    border-color: white;
}

.set-new .btn-primary {
    background: #5e358c;
    color: white;
    box-shadow: 5px 6px 12px rgba(149, 149, 149, 0.2);
    border: none;
}

.set-new .btn-primary:hover {
    background-color: white;
    color: #5e358c;
    border: 1px solid #5e358c;
}

button {
    background: #5e358c;
    color: white;
    font-size: 18px;
    line-height: 40px;
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 5px 6px 12px rgba(149, 149, 149, 0.2);
}
#collapseExample .close {
    position: absolute;
    top: -4px;
    right: -1px;
    font-size: 25px;
    line-height: 100%;
}
#collapseExample .card {
    padding: 10px;
}
#collapseExample .card select {
    padding: 5px 15px;
}
#collapseExample .card form > button {
    padding: 5px 15px;
    float: left;
}
#collapseExample .card form > div {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#collapseExample .card textarea,
#collapseExample .card input[type=text] {
    width: 100%;
}

#collapseExample .card form .interviewrsduration,
#collapseExample .card form .interviewrstime {
    width: 50%;
    float: left;
}
.interviewrsduration label {
    margin-right: 5px;
}
#collapseExample .card .interviewrstime input {
    width: calc(100% - 160px);
    float: right;
}
.candidate-area .col-sm-12 {
    margin-bottom: 20px;
}
.candidate-area .col-sm-12 textarea,
.candidate-area .col-sm-12 input {
    width: calc(100% - 200px);
    float: right;
}
.test-list {
    display: none;
}
/*modify col-20%*/
.col-xs-5th-1, .col-xs-5th-2, .col-xs-5th-3, .col-xs-5th-4 {
    float: left;
}
.col-xs-5th-5 {
    float: left;
    width: 100%;
}
.col-xs-5th-4 {
    width: 80%;
}
.col-xs-5th-3 {
    width: 60%;
}
.col-xs-5th-2 {
    width: 40%;
}
.col-xs-5th-1 {
    width: 20%;
}

@media (max-width: 768px) {
    .candidate-area .col-sm-12 textarea,
    .candidate-area .col-sm-12 input {
        width: 100%;
        float: right;
    }
}
@media (min-width: 768px) {
    .col-sm-5th-1, .col-sm-5th-2, .col-sm-5th-3, .col-sm-5th-4 {
        float: left;
    }
    .col-sm-5th-5 {
        float: left;
        width: 100%;
    }
    .col-sm-5th-4 {
        width: 80%;
    }
    .col-sm-5th-3 {
        width: 60%;
    }
    .col-sm-5th-2 {
        width: 40%;
    }
    .col-sm-5th-1 {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-5th-1, .col-md-5th-2, .col-md-5th-3, .col-md-5th-4 {
        float: left;
    }
    .col-md-5th-5 {
        float: left;
        width: 100%;
    }
    .col-md-5th-4 {
        width: 80%;
    }
    .col-md-5th-3 {
        width: 60%;
    }
    .col-md-5th-2 {
        width: 40%;
    }
    .col-md-5th-1 {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-5th-1, .col-lg-5th-2, .col-lg-5th-3, .col-lg-5th-4 {
        float: left;
    }
    .col-lg-5th-5 {
        float: left;
        width: 100%;
    }
    .col-lg-5th-4 {
        width: 80%;
    }
    .col-lg-5th-3 {
        width: 60%;
    }
    .col-lg-5th-2 {
        width: 40%;
    }
    .col-lg-5th-1 {
        width: 20%;
    }
}

/*end modify col-20%*/